.bookTitle {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 3vmin;
}

.bookInfo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2vmin;
}

.bookImage {
  height: 25vh;
  width: auto;
}

.paperTitle {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 2.5vmin;
  display: flex;
  align-items: flex-end;
}

.paperInfo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2vmin;
}