.profileNameLine {
  background-color: rgb(187, 187, 187);
}

.profileName {
  font-family: 'Ubuntu', sans-serif;
}

.description {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.informationBlock {
  justify-content: left;
  max-height: 40vh;
  overflow-y: scroll;
  margin-right: 0vw;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2vmin;
}

.informationThumbnail {
  max-width: 15vmin;
  max-height: 15vmin;
}

.contact{
  display: flex;
  justify-content: center;
}

.contactItem{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 3vmin;
}

.accountIconBlock {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0;
}

.accountIcon {
  width: auto;
  height: 25vh;
}

.profileBlock {
  display:flex;
  justify-content: space-between;
}

.profileNameLine {
  height: 1px;
}

.profileName {
  font-size: 6vmin;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.profileName p{
  height: 1.1em;
  margin-bottom: 0;
  vertical-align: top;
  margin-bottom: 1.1vh;
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1vh;
}

.socialIcon {
  width: 4vh;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
}

.description {
  font-size: 2vmin;
}
